include nexxT/include\DataSamples.hpp
include nexxT/include\FilterEnvironment.hpp
include nexxT/include\Filters.hpp
include nexxT/include\Logger.hpp
include nexxT/include\NexTConfig.hpp
include nexxT/include\NexTLinkage.hpp
include nexxT/include\NexTPlugins.hpp
include nexxT/include\Ports.hpp
include nexxT/include\PropertyCollection.hpp
include nexxT/include\Services.hpp
include nexxT/binary/msvc_x86_64/nonopt/cnexxT.pyd
include nexxT/binary/msvc_x86_64/nonopt/nexxT.dll
include nexxT/binary/msvc_x86_64/nonopt/nexxT.exp
include nexxT/binary/msvc_x86_64/nonopt/nexxT.lib
include nexxT/binary/msvc_x86_64/release/cnexxT.pyd
include nexxT/binary/msvc_x86_64/release/nexxT.dll
include nexxT/binary/msvc_x86_64/release/nexxT.exp
include nexxT/binary/msvc_x86_64/release/nexxT.lib
include nexxT/core/ConfigFileSchema.json